body {
    background-color: #800000;
    font-family: Courier New, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.887);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.foto {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
